<% require_relative '../youtubeSearch' %>
<% require 'json' %>
<head>
<title>VideoShare</title>
</head>
<body>
   <script> 
   (function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
window.extAsyncInit = function() {
   
};
function share(arrayindex){
	var video_url = <%= @videos.to_json %>
console.log(video_url)
   message = {
  "attachment":{
    "type":"template",
    "payload":{
      "template_type":"generic",
      "elements": [{
        "title":"Play on messenger",
        "subtitle": "Play Video",
        "default_action":{
          "type":"web_url",
          "url": video_url[arrayindex]
        }
        
      }]
    }
  }
};
console.log(message)
MessengerExtensions.beginShareFlow(function success(share_response) {
 alert("loaded")
}, 
function(errorCode, errorMessage) {
alert(errorCode)
alert(errorMessage)    

},message,"current_thread");
}
   </script>

 <form >
  Search Video <br>
  <input type = "text" name = "SearchVideo" ><br>
  
  <input type = "submit" value = "Search">
</form> 

 <img src=<%=@thumbnails[0]%> onclick="share(0)"> 
 <img src=<%=@thumbnails[1]%> onclick="share(1)">
 <img src=<%=@thumbnails[2]%> onclick="share(2)">
 <img src=<%=@thumbnails[3]%> onclick="share(3)">
 <img src=<%=@thumbnails[4]%> onclick="share(4)">
  
   <button onclick="share(0)">Share video</button> 
</body>